version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DEBUG=True
      - DJANGO_SECRET_KEY=django-insecure-9v0p-d6nquoexup&al!x@181k@$$=6ado35qzk56l2cpqmyvi&w
    command: python manage.py runserver 0.0.0.0:8000